In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [4]:
data = pd.read_csv('movie_bd_v5.csv')
data.head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015

In [24]:
#data.describe()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [3]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [4]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [5]:
answers['1'] = data[data.budget == data.budget.max()]['original_title'].values[0]
display(answers['1'])

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [6]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [ ]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [7]:
#runtime
answers['2'] = data[data.runtime == data.runtime.max()].original_title.values[0]
display(answers['2'])

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [8]:
answers['3'] = data[data.runtime == data.runtime.min()].original_title.values[0]
display(answers['3'])

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [9]:
answers['4'] = data.runtime.mean()
display(answers['4'])

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [10]:
answers['5'] = data.runtime.median()
display(answers['5'])

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [235]:
data['profit'] = data['revenue'] - data['budget']
answers['6'] = data[data.profit == data.profit.max()].original_title.values[0]
display(answers['6'])

'Avatar'

# 7. Какой фильм самый убыточный?

In [12]:
answers['7'] = data[data.profit == data.profit.min()].original_title.values[0]
display(answers['7'])

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [13]:
answers['8'] = data[data.profit > 0].original_title.count()
display(answers['8'])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [14]:
#revenue release_year
data1 = data[data.release_year == 2008]
answers['9'] = data1[data1.revenue == data1.revenue.max()].original_title.values[0]
display(answers['9'])

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [15]:
data1 = data[data.release_year < 2015]
data1 = data1[data1.release_year > 2011]
answers['10']=data1[data1.profit == data1.profit.min()].original_title.values[0]
display(answers['10'])

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [29]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

dict_genres = {}
for i in data.genres:
    for j in i.split('|'):
        dict_genres[j] = 0
        
for i in data.genres:
    for j in i.split('|'):
        dict_genres[j] += 1

z = 0
movi = ''
for i, j in dict_genres.items():
    if z != 0:
        if j>z:
            movi = i
            z = j
    else:
        movi = i
        z = j
        

answers['11'] = movi
display(answers['11'])

'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [239]:
dict_profit = {}
for i in data.genres:
    for j in i.split('|'):
        dict_profit[j] = 0

for i in dict_profit:
    df_temp = data[data.genres.str.contains(i, na=False)]
    temp_1 = df_temp[df_temp.profit > 0].profit.count()
    if temp_1 == 0:
        dict_profit[i] = 0
    else:
        dict_profit[i] =  temp_1 / df_temp.profit.count()

list_profit = sorted(dict_profit.items(), key=lambda item: item[1], reverse=True) 
answers['12'] = list_profit[0][0] 
display(list_profit[0][0])

'Documentary'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [40]:
dict_director = {}
for i in data.director:
    for j in i.split('|'):
        dict_director[j] = 0
        
for i in dict_director:
    dict_director[i] = data[data.director == i].revenue.sum()

list_director = sorted(dict_director.items(), key=lambda item: item[1], reverse=True) 
answers['13'] = list_director[0][0] 
display(list_director[0][0])

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [238]:
dict_director = {}
for i in data.director:
    for j in i.split('|'):
        dict_director[j] = 0
        
for i in dict_director:
    dict_director[i] = data[((data.director == i)  & (data.genres.str.contains('Action', na=False)))].director.count()
    
list_director = sorted(dict_director.items(), key=lambda item: item[1], reverse=True) 
answers['14'] = list_director[0][0] 
display(list_director[0][0])

'Michael Bay'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [237]:
data_1 = data[data.release_year == 2012]

dict_cast = {}
for i in data_1.cast:
    for j in i.split('|'):
        dict_cast[j] = 0

for i in dict_cast:
    df_temp = data_1[data_1.cast.str.contains(i, na=False)]
    dict_cast[i] = df_temp.revenue.sum()
    
list_cast = sorted(dict_cast.items(), key=lambda item: item[1], reverse=True) 
answers['15'] = list_cast[0][0] 
display(list_cast[0][0])

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [64]:
dict_budget = {}
for i in data.cast:
    for j in i.split('|'):
        dict_budget[j] = 0

var = ((data.budget.max() - data.budget.min()) / 3) * 2 + data.budget.min()

for i in dict_budget:
    data_budget = data[(data.budget > var) & (data.cast.str.match(i, na=False))]
    dict_budget[i] = data_budget.budget.count()
    
list_budget = sorted(dict_budget.items(), key=lambda item: item[1], reverse=True) 
answers['16'] = list_budget[0][0] 
display(list_budget[0][0])

'Johnny Depp'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [236]:
data_nic = data[data.cast.str.contains('Nicolas Cage', na=False)]

dict_nic = {}
for i in data_nic.genres:
    for j in i.split('|'):
        dict_nic[j] = 0

for i in dict_nic:
    dict_nic[i] = data_nic[data_nic.genres.str.contains(i, na=False)].profit.count()

list_nic = sorted(dict_nic.items(), key=lambda item: item[1], reverse=True) 
answers['17'] = list_nic[0][0] 
display(list_nic[0][0])

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [73]:
answers['18'] = data[data.profit == data.profit.min()].original_title.values[0]
display(answers['18'])

'The Lone Ranger'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [79]:
answers['19'] = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).values[0]
display(answers['19'])

25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [97]:
data_20 = data[data.production_companies == 'Warner Bros.']
answers['20'] = data_20.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).index[0]
display(answers['20'])

2011

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [188]:
data_21 = data.copy(deep=True)
data_21['release_date'] = pd.to_datetime(data_21['release_date'])
data_21.release_date = data_21.release_date.dt.month
data_21.groupby(['release_date'])
answers['21'] = data_21.groupby(['release_date'])['imdb_id'].count().sort_values(ascending=False).index[0]
display(answers['21'])

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [189]:
data_22 = data.copy(deep=True)
data_22['release_date'] = pd.to_datetime(data_22['release_date'])
data_22.release_date = data_22.release_date.dt.month

In [190]:
data_222 = data_22[(data_22.release_date == 6) | (data_22.release_date == 7) | (data_22.release_date == 8)]
answers['22'] = data_222.imdb_id.count()
display(answers['22'])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [191]:
data_23 = data.copy(deep=True)
data_23['release_date'] = pd.to_datetime(data_23['release_date'])
data_23.release_date = data_23.release_date.dt.month

In [192]:
data_23W = data_23[(data_22.release_date == 1) | (data_22.release_date == 2) | (data_22.release_date == 12)]

In [193]:

dict_director = {}
for i in data_23.director:    
    dict_director[i] = 0
     
for i in dict_director:
    var_1 = data_23W[data_23W.director == i].imdb_id.count()    
    var_2 = data_23[data_23.director == i].imdb_id.count()
    dict_director[i] = var_1 / var_2
    
list_director = sorted(dict_director.items(), key=lambda item: item[1], reverse=True) 
answers['23'] = list_director[0][0] 
display(list_director[0][0])

'Alex Garland'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [242]:
data_temp = data.copy(deep=True)
data_temp.original_title = data_temp.original_title.apply(lambda x: len(x))

In [243]:
dict_companies = {}
for i in data_temp.production_companies:
    for j in i.split('|'):
        dict_companies[j] = 0

for i in data_temp.production_companies:
    for j in i.split('|'):
        dict_companies[j] += 1

In [244]:
for i in dict_companies:
    var_1 = data_temp[data_temp.production_companies.str.contains(i, na=False)].original_title.sum()    
    dict_companies[i] = var_1 / dict_companies[i]
        
list_companies = sorted(dict_companies.items(), key=lambda item: item[1], reverse=True) 
answers['24'] = list_companies[0][0] 
display(list_companies[0][0])

C:\Users\User\AppData\Local\Temp\ipykernel_9912\1809007821.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  var_1 = data_temp[data_temp.production_companies.str.contains(i, na=False)].original_title.sum()

'Twentieth Century Fox'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [245]:
data_temp = data.copy(deep=True)
data_temp.original_title = data_temp.original_title.apply(lambda x: len(x.split()))

In [246]:
dict_companies = {}
for i in data_temp.production_companies:
    for j in i.split('|'):
        dict_companies[j] = 0

for i in data_temp.production_companies:
    for j in i.split('|'):
        dict_companies[j] += 1

In [247]:
for i in dict_companies:
    var_1 = data_temp[data_temp.production_companies.str.contains(i, na=False)].original_title.sum()    
    dict_companies[i] = var_1 / dict_companies[i]
        
list_companies = sorted(dict_companies.items(), key=lambda item: item[1], reverse=True) 
answers['25'] = list_companies[0][0] 
display(list_companies[0][0])

C:\Users\User\AppData\Local\Temp\ipykernel_9912\3838740689.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  var_1 = data_temp[data_temp.production_companies.str.contains(i, na=False)].original_title.sum()

'Twentieth Century Fox'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [248]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Documentary',
 '13': 'Peter Jackson',
 '14': 'Michael Bay',
 '15': 'Chris Hemsworth',
 '16': 'Johnny Depp',
 '17': 'Action',
 '18': 'The Lone Ranger',
 '19': 25449202382,
 '20': 2011,
 '21': 9,
 '22': 450,
 '23': 'Alex Garland',
 '24': 'Twentieth Century Fox',
 '25': 'Twentieth Century Fox'}

In [187]:
# и убедиться что ни чего не пропустил)
len(answers)

23